Numbers registry - update reference and clarifications

- [x] create placeholder link on scion.org about registry activity (for now redirecting to Anapaya AND linking the same table as the draft (which I think is now on scionproto github)
- [x] Update reference to point to scion.org
- [x] Check reference to RFC4893 in relation to AS number definition
- [x] Do we need a reference to RFC5952 in relation to formatting? Maybe not as Alvaro suggests
- [x] Check that ISD-AS in the drafts follow the text representation rule (e.g. `4-0000:1:f` does not)  
- [x] Move table 2 to 1.5.2.
- [x] https://github.com/scionassociation/scion-cppki_I-D/pull/68 from the PKI draft and replace it with cross  reference: `Table 1: ISD Number Allocations`
- [x] Devs: confirm that the right notation for ISD 65551 is `0:1:f` (which is what we have in the draft)
- [x] Update PKI draft https://github.com/scionassociation/scion-cppki_I-D/pull/73


---- 
## Feedback from Alvaro:

### 1.5.1.  ISD Numbers
```
542   An ISD number is the 16-bit global identifier for an ISD and MUST be
543   globally unique.

545   The following table gives an overview of the ISD number allocation:

547     +==============+================================================+
548     | ISD          | Description                                    |
549     +==============+================================================+
550     | 0            | The wildcard ISD.                              |
551     +--------------+------------------------------------------------+
552     | 1 - 15       | Reserved for documentation and sample code     |
553     |              | (analogous to [RFC5398]).                      |
554     +--------------+------------------------------------------------+
555     | 16 - 63      | Private use (analogous to [RFC6996]).  Can be  |
556     |              | used for testing and private deployments       |
557     +--------------+------------------------------------------------+
558     | 64 - 4094    | Public ISDs.  Should be allocated in ascending |
559     |              | order, without gaps and "vanity" numbers.      |
560     +--------------+------------------------------------------------+
561     | 4095 - 65535 | Reserved for future use.                       |
562     +--------------+------------------------------------------------+

564                      Table 1: ISD number allocations

566   Currently, ISD numbers are allocated by Anapaya, a provider of SCION-
567   based networking software and solutions (see [ISD-AS-assignments]).
```

>  Suggestion: the Anapaya site doesn't have a summary similar to Table 1.
If anyone is looking there, they won't know which ISD can be used for
testing (for example).  You might want to include this information, similar
to the IANA pages. ;-)


### 1.5.2.  SCION AS Numbers
```
571   A SCION AS number is the 48-bit identifier for an AS.  Although they
572   play a similar role, there is no relationship between SCION AS
573   numbers and BGP ASNs as defined by [RFC4893].  For historical reasons
574   some SCION Autonomous Systems use a SCION AS number where the first
575   16 bits are 0 and the remaining 32 bits are identical to their BGP
576   ASN, but there is no technical requirement for this.
```
> [] s/RFC4893/RFC4271 I know that there isn't a specific definition in rfc4271 of an ASN (there
isn't one in rfc4893 either).

###  1.5.3.2.  AS numbers
```
587   The text representation of SCION AS numbers is similar to IPv6 (see
588   [RFC5952]) but not identical.  It MUST be as follows:

590   *  It uses a 16-bit colon-separated lower-case hex encoding with
591      leading 0s omitted: 0:0:0 to ffff:ffff:ffff.

593   *  The :: zero-compression feature of IPv6 MUST NOT be used.  The
594      feature has very limited use in a 48-bit address space and would
595      only add more complexity.

597   *  A range of AS numbers can be shortened with a notation similar to
598      the one used for CIDR IP ranges ([RFC4632]).  For example, the
599      range of the lowest 32-bit AS numbers (0-4294967295) can be
600      represented as 0:0:0/16.

602   *  For historical reasons, SCION AS numbers in the lower 32-bit range
603      MAY also be represented as decimal for human readability.  For
604      example, if a program receives the AS number 0:1:f, it MAY display
605      the number as "65551".
```
> IMHO, the comparison to RFC5952 makes the explanation more complex as
you have to then explain the exceptions (::)...

### Example
```
614   For example, the text representation of AS number 65551 (0x1000f) in
615   ISD number 4 is 4-0000:1:f.
```

> 0000:1:f doesn't follow the rules in §1.5.3.2: the leading 0s are
included.  Shouldn't it be 1:f?

### Table 2: AS number allocations

> Maybe this table belongs in §1.5.2.


> create placeholder link on scion.org about registry activity (for now redirecting to Anapaya AND linking the same table as the draft (which I think is now on scionproto github)
 
This is not done yet

> Question for @katyatitkova : is the right notation for 65551 0000:1:f or 0:1:f or 1:f? What is the implementation using?

The implementation uses human-readable numbers for the lower 32-bit range: see [test](https://github.com/scionproto/scion/blob/379c6c7db20695a53b758190cd6c4302d0c3ab20/pkg/addr/isdas_test.go#L140) and [implementation](https://github.com/scionproto/scion/blob/379c6c7db20695a53b758190cd6c4302d0c3ab20/pkg/addr/fmt.go#L105). So, 65551 will be printed out as 65551. Both `0000:1:f` and `0:1:f` will be parsed (and `0:1:f` seems to be a more common option according to the tests), and `1:f` is not correct since the implementation expects that there will be three parts in the address.

Thanks a lot! What is used to write ASes in  certificates by the PKI?  I'd like to double check as this should match what we describe [here](https://www.ietf.org/archive/id/draft-dekater-scion-pki-09.html#name-isd-as-number-attribute). Right now we say `hex encoding with leading zeros omitted`

If I'm not mistaken, ISD-AS numbers are provided manually and then are being verified and written as-is. The validation code is [here](https://github.com/scionproto/scion/blob/379c6c7db20695a53b758190cd6c4302d0c3ab20/pkg/scrypto/cppki/certs.go#L548), and it expects AS number to be formatted in the same manner as the implementation from the link above does. So it looks like 65551 should still be 65551 and not 0:1:f. @jiceatscion did I miss something?

Regarding the certificate format, I agree; it looks like the validation code want the decimal representation.

Looks like we are not being quite prescriptive enough in the CP draft. I would suggest making a decision about the 0-65535 decimal representation and spelling it out. I remember writing the "For historical reasons... <decimal repr allowed>." phrase. It was probably a mistake to not make a clear decision about whether that was a "canonical form" or not.

The PKI drafts mentions a "Canonical form", but it is canonical only in that doc.

My suggestions to address Alvaro's concerns:
* Clarify which is the canonical representation; decimal allowed or not. We must chose. I would prefer that the decimal representation be non-canonical, but it might be too late to change it because of existing certs and cert verification/generation code.
* Possibly indicate where the non-canonical form is allowed, if anywhere. At least mention the PKI draft and the certificates as a place where only the canonical form is allowed.
* Clarify that the leading zeros suppression still must leave one 0; this isn't self evident.
* Make sure that we use the canonical representation everywhere in the drafts that calls for a canonical representation.
* Specify in the PKI draft where the definition of "Canonical representation" is and remove it for the PKI draft itself.


Is the canonical representation the one now in Section 1.5.2.2 (see https://scionassociation.github.io/scion-cp_I-D/SCION_AS_Table/draft-dekater-scion-controlplane.html)


I discussed this with @katyatitkova:  she agree that we should specify one canonical representation that is consistent in both drafts. SO I agree with the proicess you propose @jiceatscion 

> Clarify which is the canonical representation; decimal allowed or not. We must chose. 

I discussed this with @katyatitkova , she would ideally like to transition to an uniform, hex-only representation. However, IMHO: 
- This draft's goal is to document the existing implementation
- Such a change would be major and take a lot of time to roll out (e.g. in SSFN)

For these two reasons above, I think we should agree on the dual Hex/dec representation and write something like: 
> SCION AS numbers in the lower 32-bit range MUST be represented as decimal. Implementations MAY accept such numbers in the Hex form, but then they should be converted to the decimal form (e.g. a program may accept AS number '0:1:f' and convert it to `65551`).


> * software MUST output the canonical form (unless when generating config files that have a different requirement).
> * software SHOULD accept either forms (in args or config files), but is not required to. E.g. pki requires the canonical form.

Great point. "be conservative in what you send, be liberal in what you accept". I will adapt

